<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cryptocurrency</title>
    <meta name="description" content="A view of a single cryptocurrency or multiple cryptocurrencies and their movements during the day, week and year.">
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<%- include('header') %>
