<header class="header">
    <nav>
        <ul>
            <li><a href="/"></a></li>
            <form method="get" action="/search"><input type="text" placeholder="Ticker (e.g. BTC or ETH)"/></form>
            <li><a href="/top">Best/worst</a></li>
        </ul>
    </nav>
</header>
