<%- include('partials/head') %>
<main id="offline">
<h1>Offline</h1>

<section>
<p>Please come back online so we can show you the latest data.</p>
</section>

</main>
<%- include('partials/footer') %>
